
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 5px;
            left: 5px;
            background-color: transparent;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 112px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1510654771039-0 {
            width: 167px;
            min-height: 101px;
            top: 39px;
            left: 1024px;
        }
        
        .silex-id-1510656871330-1 {
            width: 196px;
            min-height: 92px;
            top: 20px;
            left: 25px;
        }
        
        .silex-id-1474394621033-3 {
            top: 140px;
            left: 5px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 642px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1517453197346-1 {
            width: 577px;
            min-height: 29px;
            top: 32px;
            left: 294px;
        }
        
        .silex-id-1517470776383-0 {
            width: 768px;
            background-color: rgb(255, 255, 255);
            min-height: 313px;
            top: 121px;
            left: 314px;
        }
        
        .silex-id-1517470868360-2 {
            width: 298px;
            min-height: 104px;
            top: 475px;
            left: 818px;
        }
        
        .silex-id-1517471096060-3 {
            width: 582px;
            min-height: 2348px;
            top: 578px;
            left: 298px;
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 100px;
            background-color: transparent;
            width: 1200px;
        }
    